# Virtual environments
.venv/
.venv-1/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# LaTeX aux files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
